In [89]:
import numpy as np
import pandas as pd

# Generate random ratings data
n_users = 10
n_items = 5
ratings = np.random.randint(0, 11, size=(n_users, n_items))
ratings = np.array([
    [4.0, 0, 0, 0, 0],
    [2.0, 5.0, 0, 0, 0],
    [3.0, 4.0, 7.0, 2.0, 8.0],
    [6.0, 0, 8, 9, 0]
])
ratings = ratings.astype(float)
pd.DataFrame(ratings)

     0    1    2    3    4
0  4.0  0.0  0.0  0.0  0.0
1  2.0  5.0  0.0  0.0  0.0
2  3.0  4.0  7.0  2.0  8.0
3  6.0  0.0  8.0  9.0  0.0

In [90]:
def mostRatingsIndex(ratings, item_exclude):
    high = 0
    index = 0
    for item in range(ratings.shape[1]):
        if item != item_exclude:
            cont = 0
            for user in range(ratings.shape[0]):
                if ratings[user][item] > 0:
                    cont+=1
            if cont > high:
                high = cont
                index = item
    return index

In [91]:
def scoreFromPair(ratings, item, comparison_item):
    difference = 0
    denominador = 0
    for user in range(ratings.shape[0]):
        b = ratings[user][item]
        a = ratings[user][comparison_item]
        if a > 0 and b > 0:
            difference += b - a
            denominador += 1

    score = difference / denominador
    return score

In [92]:
def fill_missing_ratings_user(ratings):
    for user in range(ratings.shape[0]):
        for item in range(ratings.shape[1]):
            if ratings[user][item] == 0:
                comparison_item = mostRatingsIndex(ratings, item)
                score = scoreFromPair(ratings, item, comparison_item)
                print(score)
                predicted_rating = abs(score) + ratings[user][comparison_item]
                ratings[user][item] = predicted_rating

    return ratings

In [93]:
filled_ratings = fill_missing_ratings_user(ratings)
pd.DataFrame(filled_ratings)

2.0
3.0
1.0
5.0
3.0
1.0
5.0
2.0
5.0

     0    1    2    3     4
0  4.0  6.0  7.0  5.0   9.0
1  2.0  5.0  5.0  3.0   7.0
2  3.0  4.0  7.0  2.0   8.0
3  6.0  8.0  8.0  9.0  11.0